---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" padding="p-4">
  <div class="flex justify-between w-full items-start mb-1">
    <div class="flex">
      <h2 class="text-white text-xl font-bold mr-2">近况</h2>
      <a href="https://en.wikipedia.org/wiki/Gap_year" target="_blank">
        <span class="text-xs text-darkslate-300 cursor-pointer text-xs"
          >这是什么？</span
        >
      </a>
    </div>
    <Pulse />
  </div>
  <p class="text-xs">正处于Gap Year</p>
</Card>
